* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    position: relative;
}


nav#menuItems {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

nav#menuItems > button {
    background-color: blue;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 2s;
}

nav#menuItems > button:hover {
    background-color: #DAA520;
}


#jumpMenu {
    display: none;
    position: fixed;
    left: 0;
    top: 60px; 
    width: 250px;
    background-color: #DAA520;
    padding: 0;
    list-style: none;
    z-index: 250;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

#jumpMenu li {
    margin: 0;
}

#jumpMenu li a {
    display: block;
    color: blue;
    text-decoration: underline;
    font-size: 18px;
    padding: 15px 20px;
    transition: background-color 2s, color 2s;
}

#jumpMenu li a:hover {
    background-color: blue;
    color: white;
}


#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

main {
    margin-left: 250px;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    background-color: red;
    padding: 30px 0;
    z-index: 100;
}

header > p {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

main > h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 120px;
    margin-bottom: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

article {
    width: 260px;
    margin-bottom: 30px;
    text-align: justify;
    position: relative;
    transition: all 2s;
    align-self: flex-start;
}



article h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #aaa;
    transition: color 2s;
}

article:hover h2 {
    color: #000;
}


article p:first-of-type::first-letter {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
}


article p:first-of-type {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
    color: #aaa;
    transition: color 2s, font-size 2s;
}

article:hover p:first-of-type {
    color: #000;
    font-size: 16px;
}

/* Read more paragraph - always visible */
article p:last-of-type {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
    color: #000;
}

article p:last-of-type a {
    color: blue;
}

/* External link arrow styling */
article p a[href*="google.com"]::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-image: url('images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

article a {
    color: blue;
    text-decoration: underline;
}

#thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightblue;
    padding: 25px 40px;
    font-size: 32px;
    font-weight: 300;
    border: 2px solid #333;
}

#thanks a {
    color: blue;
    text-decoration: underline;
}

footer {
    background-color: #f0f0f0;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

footer > p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

address {
    font-style: normal;
}

address div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

address span {
    font-size: 14px;
}

address a {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    #container {
        justify-content: space-evenly;
    }
}

@media (max-width: 900px) {
    article {
        width: 260px;
    }
}